@import './animations.scss';

.social-media {
  display: flex;
  margin: 2rem;
}

.card--presentation {
  font-size: 2.5rem;
}

.tracking--effect {
  color: #3AB4F2;
  -webkit-animation: tracking-in-contract 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.social-media svg {
  margin-right: 0.5rem;
}

.effect--background {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  font-size: 2rem;
  border-radius: 5px;
  color: #FFF;
  -webkit-animation: color-change-3x 4s linear infinite alternate both;
	        animation: color-change-3x 4s linear infinite alternate both;
}



